language: node_js
node_js:
- '0.10'
- '0.12'
- 'iojs'
- '4.1'
- '4.2'
cache:
    directories: 
        - ~/.nvm
install:
- node --version
- npm --version
- git --version
- npm install -g babel
- npm install
script: npm run-script cover
after_script:
- cat coverage/lcov.info | node_modules/.bin/codeclimate-test-reporter < coverage/lcov.info
